/.vs
/bin
/obj
/src/AdminPortal/Admin.UI/.vs
/src/AdminPortal/Admin.UI/obj
/src/Analytics/HealthCheck/obj
/src/ApiGateway/ApiGateway.Api/.vs
/src/ApiGateway/ApiGateway.Api/obj
/src/ApiGateway/ApiGateway.Api/bin/Debug
/src/OpenID/Auth.UI/.vs
/src/OpenID/Auth.UI/obj
/src/OpenID/Auth.UI/bin/Debug
/src/OpenID/Auth.UI/tempkey.rsa
/src/Services/UserManager/UserManger.Api/.vs
/src/Services/UserManager/UserManger.Api/obj
/src/Services/UserManager/UserManger.Api/bin/Debug
/src/AdminPortal/Admin.UI/bin/Debug/netcoreapp2.2
/src/Analytics/HealthCheck/bin/Debug/netcoreapp2.2
/src/Analytics/HealthCheck/healthchecksdb
